@import 'vars';

@media (max-width: 640px) {
	.footer-container {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 20px;
		background-color: var(--white);
	}
	.navbar-mobile {
		width: 80%;
		display: block;
		border-top: 5px solid var(--text-input-field);
		background-color: var(--white);
	}
	.navbar-mobile--close{
		position: absolute;
		top: 40px;
		left: 70%;
	}
	.navbar-top ul,
	.navbar-center ul,
	.navbar-bottom ul {
		list-style: none;
		padding: 10px;
		margin: 0;
	}
	.navbar-center {
		border-top: 5px solid var(--text-input-field);
	}
	.navbar-center ul {
		margin-left: 12px;
	}
	.navbar-top ul li a,
	.navbar-center ul li a {
		text-decoration: none;
		color: var(--black);
		border: 1px solid var(--white);
		padding: 8px;
		border-radius: 8px;
		line-height: 2;
		font-weight: bold;
	}
	.navbar-top ul li a:hover,
	.navbar-center ul li a:hover {
		border: 1px solid var(--hospital-green);
		color: var(--hospital-green);
	}
	.navbar-bottom ul li {
		color: var(--black);
		padding: 8px;
		border-radius: 8px;
		line-height: 0.5;
		font-weight: normal;
	}
	.navbar-bottom ul li a {
		text-decoration: none;
		color: var(--hospital-green);
	}
}